{% extends 'locator/base.html' %}
{% load crispy_forms_tags %}  

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <!--Django Model-->
    <h2 class="my-4">Event</h2>
    <div class="row">
      {% for m in form %}
      <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
        <div class="card h-100 p-4">
          <img src="{{ m.image.url }}" class="card-img-top" alt="{{ m.name}}">
          <h4>{{m.name}}</h4>
          <p class="text-muted">{{m.eintritt}} | {{m.maxTeilnehmer}}</p>
          <p>{{m.description}}</p>
        </div>
      </div>
      {% empty %}
      <p>Kein Event verfügbar.</p>
      {% endfor %}
    </div>
  </div>


{% endblock %}


        