{% extends 'locator/base.html' %}

{% block title %}
{% endblock %}

{% block content %}

<!--Django Model-->
<div class="row">
  <div class="column" style="width: 40%; float:left">
    <div class="container">
      <h4>Event Titel: {{ event.title }}</h4> 
      <p>Startzeit: {{ event.start_time }}</p>  <!-- <time datetime="YYYY-MM-DDThh:mm:ssTZD">  -->
      <p>Eintritt: {{ event.eintritt }}</p>
      <p>Max. Teilnehmer: {{ event.maxTeilnehmer }}</p>
      <p>Beschreibung: {{ event.description }}</p>
    </div>
  </div>
  <div class="column" style="width: 40%; float:right">
    <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name}}">
  </div>
</div> 
{% endblock %}


        