/* locator/static/styles.css */
#map {
  height: 80%;
  width: 60%;
}
/*  Optional: Makes the sample page fill the window.  */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*---- Button styles----*/
.prev {
  float: left;
}
.next {
  float: right;
}
.map {
  margin: 0px 50px;
  text-align: center;
  float: none;
}
.btn {
  outline: none;
  color: white;
  font-size:16px;
  background-color: #1abc9c;
  box-shadow: 0 0 0 0;
}
.clearfix {
  margin: 5px 11px;
}
/*----Calender styles----*/

/* Calendar Macro Settings */
.calendar {
  width: 98%;
  margin: auto;
}
/*   Calender Header   */
.calendar th {
  padding: 10px 0px 10px 0px; /* top, left, bottom, right */
}
/*   Calender Trennlinien   */
.calendar tr, .calendar td {
  border: 1px dotted black;
}

.month {
  padding: 10px 10px;
  background: #1abc9c;
  font-size: 25px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mon, .tue, .wed, .thu, .fri, .sat, .sun {
  margin: 0;
  padding: 10px 0;
  width: 50px;
  background-color: #ddd;
  font-size: 15px;
  text-align: center;
  color: #666;
}

/*   Calendar Data Settings / Day Settings */
.calendar td {
  height: 40px;
  width: 13%;
  padding: 0px 0px 0px 6px; /* top, right , bottom, left */
  text-align: left;
  color: black;
  font-size: 12px;
  background: lightgoldenrodyellow;
  line-height: 1;
}
/* Number or each day */
.date {
  font-size: 14px;
}

/*----Event styles----*/
.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}